@import "./variables";

.flyout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

main {
  margin-top: auto;
  margin-bottom: auto;
}
// Custom text
.red-text {
  color: $red !important;
}

.pink-text {
  color: $pink !important;
}

// Buttons
.btn {
  box-shadow: none !important;

  &.btn-blue {
    background: $blue !important;

    &:hover {
      background: lighten($blue, 5%) !important;
    }
  }

  &:hover {
    box-shadow: none;
  }

  &:active {
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }
}

// Cards
.card {
  box-shadow: none;
}

// Generic
.clickable {
  cursor: pointer !important;
}

// Fix icon spacing in buttons
.btn {
  &.btn-red {
    background: #ff0000 !important;

    &:hover {
      background: darken(#ff0000, 5%) !important;
    }
  }

  i {
    padding-right: 0.2rem;
  }
}

.menu {
  .list-group-item {
    cursor: pointer;

    i {
      width: 30px;
    }

    &:hover {
      background-color: darken(white, 4%) !important;
    }

    &.active {
      color: #1967d2;
      background-color: #e8f0fe !important;
    }

    background: darken(white, 2%) !important;
    border: none;
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2020 Werbeagentur Christian Aichner
 */
